<div id="network-map-component">
  <div class="title-top">
    <mat-icon (click)="goBack()">arrow_back</mat-icon> Settings
  </div>

  <div class="configuration-box">
    <div class="configuration-title">
      Default Parameters
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Default Host</mat-label>
        <input matInput type="text" [(ngModel)]="this.settings.defaultTarget" autocomplete="off">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Default Discovery</mat-label>
        <input matInput type="text" [(ngModel)]="this.settings.defaultDiscovery" autocomplete="off">
      </mat-form-field>
    </div>
  </div>

  <div class="configuration-box">
    <div class="configuration-title">
      External tools - Password Cracker Program
    </div>
    <div>
      <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
        [(ngModel)]="selectedCracker">
        <mat-radio-button class="example-radio-button" *ngFor="let program of crackerPrograms" [value]="program">
          {{program}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Password Cracker Program Path</mat-label>
        <input matInput type="text" [(ngModel)]="this.settings.crackerPath" autocomplete="off">
      </mat-form-field>
    </div>
  </div>
  <div class="configuration-box right">
    <div class="button" (click)="this.onSave()">
      Save
    </div>
  </div>
</div>