<div id="dashboard-component">
  <div *ngFor="let section of this.sections;">
    <div class="section">
      {{this.section.name}}
    </div>
    <div class="desktop">
      <div *ngFor="let app of section.apps;">
        <div class="icon-button" (click)="this.onOpenApp(app)">
          <img class="icon" src="{{app.icon}}">
        </div>
      </div>
    </div>
  </div>
  <app-ssh-terminal [ngClass]="{'invisible': !this.showSshTerminal}" class="ssh-terminal"
    (closeEvent)="this.onShowSshTerminal()"></app-ssh-terminal>
</div>